/* Posts/topics - moderators only */
span.moderator:not(.admin) .svg-icon-title svg.d-icon-shield-halved {
  color: #{$moderator_color};
}

/* Posts/topics - admins */
span.admin .svg-icon-title svg.d-icon-shield-halved {
  color: #{$admin_color};
}

/* User cards - moderators */
.user-card svg.d-icon-shield-halved[data-role="moderator"] {
  color: #{$moderator_color};
}

/* User cards - admins */
.user-card svg.d-icon-shield-halved[data-role="admin"] {
  color: #{$admin_color};
}

/* User profiles - moderators */
.user-profile-names svg.d-icon-shield-halved[data-role="moderator"] {
  color: #{$moderator_color};
}

/* User profiles - admins */
.user-profile-names svg.d-icon-shield-halved[data-role="admin"] {
  color: #{$admin_color};
}
